<!DOCTYPE html>
<html>
<!-- Header -->
<head>
    <meta charset="UTF-8">
    <title>{% block title %} | DN F&B SSO{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="DN F&B SSO" name="description" />
    <meta content="Dylan Ngo" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="/images/favicon.ico">
    <!-- Block Stylesheets -->
    {% block stylesheets %}{% endblock %}
</head>
<!-- Body -->
<body class="auth-body-bg">

        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        {% block body %}{% endblock %}
        <!-- end main content-->

        {% block javascripts %}{% endblock %}

</body>
</html>